body{
    background-color: rgb(222, 154, 164);
} 
ul{
    list-style-type: none;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Sen', sans-serif;
    padding: 0em;
    float: right;
}
a:link{
    color: rgb(54, 101, 96);
}
a:visited{
    color: rgb(205, 134, 134);
}
a:hover{
    color: pink;
}
a:active{
    color: green;
}

.contacts{
  padding: 5em;
  background-color: #7b9973;
  color: white;
  font-family: 'Sen', sans-serif;
}

/*linkedin social button */
#idLinkedInIcon{
  background-color:rgb(0, 102, 170);
  border-radius:0px;color:white;
  cursor:pointer;
  display:inline-block;
  font:bold 50px Sen;
  height:55px;
  margin: top 10px;;
  text-align:center;
  width:55px;}
  #idLinkedInIcon:hover{background-color:#06d;}

.linkedin {
  padding: 3em;
  background-color: rgb(245, 189, 189);
  width: 100%;
  font-size: 15px;

}


 /* input form customization */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
    background-color: #8ec1ae;
    color: white;
    padding: 12px 20px;
    border: none;
    font-family: 'Sen', sans-serif;
      border-radius: 4px;
      cursor: pointer;
    }
    
    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    /* Add a background color and some padding around the form */
    .container {
    border-radius: 2px;
    font-family: 'Sen', sans-serif;
    background-color: #7b9973;
    padding: 100px;
    } 