div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

h2{
    background-color: #7b9973;
    font-family: 'Sen', sans-serif;
    font-size: 60px;
}

h4{
    font-family: 'Sen', sans-serif;
    font-size: 30px;
}

.desc{
    font-family: 'Sen', sans-serif;

}
body{
    background-color: rgb(245, 189, 189);;
}

ul{
    list-style-type: none;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Sen', sans-serif;
    padding: 0em;
    
}
a:link{
    color: rgb(54, 101, 96);
}
a:visited{
    color: rgb(205, 134, 134);
}
a:hover{
    color: pink;
}
a:active{
    color: green;
}