body {
    background-color:  #d1d3d8 ;
}

/* navbar list */
ul{
    list-style-type: none;
    font-weight: bold;
    font-size: 40px;
    margin: 1em;
    font-family: 'Sen', sans-serif;
} 
a:link{
    color: rgb(54, 101, 96);
}
a:visited{
    color: rgb(205, 134, 134);
}
a:hover{
    color: pink;
}
a:active{
    color: green;
}
 h2{
    background-color: rgb(152, 219, 123);
    font-family: 'Sen', sans-serif;
    color: darkgreen;
    font-size: 80px;
    border-block-style: ridge;
} 

img{
    float: left;
    top: 8px;
    left: 20px;
    padding: 1em;
    
}

.container{
    background-color: white;
    font-family: 'Sen',sans-serif;
}

.introduction {
margin: 5em;
color: rgb(63, 117, 103);
background-color: rgb(245, 189, 189);
font-family: 'Sen',sans-serif;
padding: 5em;
right: 100px;
top: 100px;
float: inherit;
}

.selfies {
    padding: 5em;
    font-family: 'Sen', sans-serif;
    font-size: 25px;
    background-color: #7b9973;
}


.pets{
    padding: 5em;
    font-family: 'Sen', sans-serif;
    font-size: 25px;
    background-color: #7b9973;
    float: left;

}

.description{
    padding: 5em;
}

.aboutme, .paragraph {
    padding: 8em;
    font-family: 'Sen',sans-serif;
    float: left;
    top: 10em;
    right: 10em;
    background-color: rgb(245, 189, 189);}
/*main content */
p{
    font-family: Sen;
    font-size: 50px;
}

